<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="Management.CoffeeShop.mapper.GoodOrderMapper">

    <insert id="addOrder" >
        <!-- 指定结果类型resultType，keyProperty是属性，自动返回到属性id中，order是次序，after是指获取id是在于插入后 -->
        <selectKey resultType="int" keyProperty="bid" order="AFTER">
            select @@identity
        </selectKey>

        INSERT INTO good_order(
            vid,bid,good_num,money,fmoney,created_time,commodity_specification,good_id,order_status
        )VALUES(
        	#{vid},#{bid},#{good_num},#{money},#{fmoney},#{created_time},#{commodity_specification},#{good.id},#{order_status}
        )
    </insert>

    <resultMap type="Management.CoffeeShop.entity.GoodOrder" id="orderResult">
        <id column="id" property="id"/>
        <result column="bid" property="bid"/>
        <result column="vid" property="vid"/>
        <result column="good_num" property="good_num"/>
        <result column="commodity_specification" property="commodity_specification"/>
        <result column="fmoney" property="fmoney"/>
        <result column="money" property="money"/>
        <result column="created_time" property="created_time"/>
        <association property="good" column="good_id"
                     javaType="Management.CoffeeShop.entity.Goods"
                     select="Management.CoffeeShop.mapper.GoodsMapper.findById" >

        </association>

    </resultMap>

    <select id="selectOrderById" resultMap="orderResult">
        select * from good_order where bid = #{bid}
    </select>
    <select id="selectOrderByVipId" resultMap="orderResult">
        select * from good_order where vid = #{vid}
    </select>
    <update id="updateOrder"  >
        update good_order set order_status=#{status} where bid = #{bid}
    </update>

    <select id="getAllOrder" resultMap="orderResult">
        select * from good_order order by bid desc
    </select>


    <select id="getDateSelectOrder" resultType="java.lang.String">
        SELECT sum(fmoney) as count FROM good_order WHERE date_format(created_time,'%Y-%m-%d')=date_format(#{dateTime},'%Y-%m-%d');
    </select>
</mapper>