<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>小型咖啡店管理系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style type="text/css">
        #body {
            margin: 65px 20px 0 20px;
        }

        #addOrder {
            width: 790px;
            height: 450px;
            margin: 0px 20px 0 0px;
            float: left;
        }

        #orderForm {
            width: 450px;
            top:-20px;
            position: absolute;
            right:2px;
        }

        #btn {
            margin: 10px 20px 0 235px;
        }

        #form-fastSelect {
            margin-top: -38px;
            margin-left: 250px;
        }

        #Name-select, #Number-select {
            height: 32px;
            margin-left: 10px;
        }
    </style>
</head>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">小型咖啡店管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/web/vip-add.html">会员管理</a></li>
            <li class="layui-nav-item"><a href="/web/goods-add.html">商品管理</a></li>
            <li class="layui-nav-item"><a href="/orderManager">订单管理</a></li>
            <li class="layui-nav-item"><a href="/echarts">统计报表</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="userManger.html">账号管理</a></li>
            <li class="layui-nav-item"><a href=""> <img
                    src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
            </a></li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>
    <div style="height: auto">
        <h2 style="text-align: center;margin-top: 20px">下方选择时间区段可查看对应每日营业额度</h2>
        <div style="width: 800px;margin-left: 570px;margin-top: 20px">
            <div  id="app" class="block" >
                <el-date-picker
                        v-model="value2"
                        type="datetimerange"
                        :picker-options="pickerOptions"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        align="right"
                        @change="test"
                        value-format="yyyy-MM-dd hh:mm:ss"
                >
                </el-date-picker>
            </div>

        </div>

        <div id="box" style="width: 1000px;height:500px;margin: 20px auto"></div>
    </div>

</div>

</body>
<script src="/layui/layui.js"></script>
<script type="text/javascript" src="/bootstrap3/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="/bootstrap3/js/holder.js"></script>
<script type="text/javascript" src="/bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript"
        src="/bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="/bootstrap3/js/respond.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/echarts.min.js"></script>
<script th:inline="none">

</script>
<script>
    Vue.prototype.$axios = axios;
    Vue.prototype.$echarts = echarts;
    new Vue ({
        el:"#app",
        data() {

            return {
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                value1: [new Date(2000, 10, 10, 10, 10), new Date(2000, 10, 11, 10, 10)],
                value2: '',


            };
        },
        mounted(){

        },
        methods:{
            test(){
                this.$axios.post("/order/getDateSelectOrder", {
                    param: this.value2
                }, { headers: { 'Content-type': 'application/json;charset=UTF-8' } }).then(res => {
                    let data = res.data;
                    //console.log(data)
                    console.log(this.value2[0])
                    this.show(data)

                })

            },
            show(data){
                //console.log(data.data1)

               let option= {
                    backgroundColor: "#05224d",
                        tooltip: {},
                    grid: {
                        top: '8%',
                            left: '1%',
                            right: '1%',
                            bottom: '8%',
                            containLabel: true,
                    },
                    legend: {
                        itemGap: 50,
                            data: ['日营业额'],
                            textStyle: {
                            color: '#f9f9f9',
                                borderColor: '#fff'
                        },
                    },
                    xAxis: [{
                        type: 'category',
                        boundaryGap: true,
                        axisLine: { //坐标轴轴线相关设置。数学上的x轴
                            show: true,
                            lineStyle: {
                                color: '#f9f9f9'
                            },
                        },
                        axisLabel: { //坐标轴刻度标签的相关设置
                            textStyle: {
                                color: '#d1e6eb',
                                margin: 15,
                            },
                        },
                        axisTick: {
                            show: false,
                        },
                        data: data.data1,
                    }],
                        yAxis: [{
                        type: 'value',
                        min: 0,
                        // max: 140,
                        splitNumber: 7,
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: '#0a3256'
                            }
                        },
                        axisLine: {
                            show: false,
                        },
                        axisLabel: {
                            margin: 20,
                            textStyle: {
                                color: '#d1e6eb',

                            },
                        },
                        axisTick: {
                            show: false,
                        },
                    }],
                        series: [{
                        name: '日营业额',
                        type: 'line',
                        // smooth: true, //是否平滑曲线显示
                        // 			symbol:'circle',  // 默认是空心圆（中间是白色的），改成实心圆
                        showAllSymbol: true,
                        symbol: 'emptyCircle',
                        symbolSize: 6,
                        lineStyle: {
                            normal: {
                                color: "#28ffb3", // 线条颜色
                            },
                            borderColor: '#f0f'
                        },
                        label: {
                            show: true,
                            position: 'top',
                            textStyle: {
                                color: '#fff',
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: "#28ffb3",

                            }
                        },
                        tooltip: {
                            show: false
                        },
                        areaStyle: { //区域填充样式
                            normal: {
                                //线性渐变，前4个参数分别是x0,y0,x2,y2(范围0~1);相当于图形包围盒中的百分比。如果最后一个参数是‘true’，则该四个值是绝对像素位置。
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgba(0,154,120,1)'
                                },
                                    {
                                        offset: 1,
                                        color: 'rgba(0,0,0, 0)'
                                    }
                                ], false),
                                shadowColor: 'rgba(53,142,215, 0.9)', //阴影颜色
                                shadowBlur: 20 //shadowBlur设图形阴影的模糊大小。配合shadowColor,shadowOffsetX/Y, 设置图形的阴影效果。
                            }
                        },
                        data: data.data2
                    }]
                }
                let myChart = this.$echarts.init(document.getElementById("box"));
                myChart.setOption(option)
            },
        }
    });

</script>
<script src="/js/order.js"></script>
<script>



</script>
</html>