<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>小型咖啡店管理系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style type="text/css">
        #body {
            margin: 65px 20px 0 20px;
        }

        #addOrder {
            width: 790px;
            height: 450px;
            margin: 0px 20px 0 0px;
            float: left;
        }

        #orderForm {
            width: 450px;
            top:-20px;
            position: absolute;
            right:2px;
        }

        #btn {
            margin: 10px 20px 0 235px;
        }

        #form-fastSelect {
            margin-top: -38px;
            margin-left: 250px;
        }

        #Name-select, #Number-select {
            height: 32px;
            margin-left: 10px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">小型咖啡店管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/web/vip-add.html">会员管理</a></li>
            <li class="layui-nav-item"><a href="/web/goods-add.html">商品管理</a></li>
            <li class="layui-nav-item"><a href="/web/goodOrder.html">订单管理</a></li>
            <li class="layui-nav-item"><a href="">统计报表</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="userManger.html">账号管理</a></li>
            <li class="layui-nav-item"><a href=""> <img
                    src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
            </a></li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed"><a class=""
                                                               href="javascript:;">订单中心</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="#">订单记录</a>
                        </dd>
                        <dd>
                            <a href="#">订单管理</a>
                        </dd>
                    </dl></li>
            </ul>
        </div>
    </div>
    <div style="width: 1000px;position:relative;left:50px;margin: 0 auto;text-align: center;font-size: 25px;margin-top: 50px;">
        <button class="layui-btn layui-btn-warm" onclick="beginClick()">语音播报</button>
        <p>实时订单</p>
        <table id="demo" lay-filter="test" style=""></table>
    </div>

    <audio id="myaudio" src="/mp3/neworder.mp3" controls="controls" autostart="false" loop="false" hidden="true" ></audio>
</div>

</body>
<script src="/layui/layui.js"></script>
<script type="text/javascript" src="/bootstrap3/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="/bootstrap3/js/holder.js"></script>
<script type="text/javascript" src="/bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript"
        src="/bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="/bootstrap3/js/respond.min.js"></script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">审核</a>
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>

<script th:inline="none">

    layui.use('table', ()=>{
        window.table = layui.table;
        getOrderAll(function(data){
            console.log(data)
            initTable(data)
        });
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if(obj.event == 'but'){
                if(data.order_status == "订单取消"){
                    layer.msg("该订单已被用户取消，无法审核哦~");
                    return ;
                }else if(data.order_status == "已支付"){
                    layer.msg("该订单已支付过啦，无法再次审核哦~");
                    return ;
                }
                layer.confirm('确定审核该订单吗？', {
                    btn: ['确定','取消'], //按钮
                    title: "下载代码",
                    skin: 'layui-layer-molv',
                    anim: 6
                }, ()=> {
                    $.ajax(
                        {
                            url:"/order/handleOrder/"+data.bid,//发送的路径
                            type:"get",//发送的方式
                            dataType:"json",//服务器返回的数据类型
                            success: function(data) {
                                console.log(data)
                                layer.closeAll();
                                layer.msg("审核成功！");
                               // initTable()
                                getOrderAll(function(data){
                                    console.log(data)
                                    initTable(data)
                                });
                            },
                            error: function (data){
                                alert("审核失败");
                            }
                        });
                })
            }
        })
    });
    function beginClick() {
        let audio=new Audio("/mp3/neworder.mp3");//路径
        audio.play();
    }
    function hasOrders(obj) {
        layer.alert("有个顾客清空了购物车，快去处理一下吧~",{title:"新订单"});

        getOrderAll(function(data){
            //console.log("查询到的订单"+JSON.stringify(data))
            initTable(data)
        });
    }
    function hasOrder(obj) {
        let good = obj.good;
        layer.closeAll()
        console.log("商品名"+JSON.stringify(obj.good))
        layer.open({
            type: 1
            ,title: "来新订单了"
            ,area: '300px;'
            ,shade: 0.8
            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
            ,btn: ['去处理']
            ,btnAlign: 'c'
            ,moveType: 1 //拖拽模式，0或者1
            ,content: '<div style="padding: 50px; line-height: 22px;  color: #000; font-weight: 300;">' +
                '会员ID：'+obj.vid +'<br><br>'+
                '顾客名：'+obj.customer +'<br><br>'+
                '商品名：'+good.name +'<br><br>'+
                '预览图：<img src="/getGoodsImg?filename='+good.image_url+'" width="100px" height="100px"/><br><br>'+
                '应付款：'+obj.fmoney +'元<br><br>'+
                '</div>'

        });

        getOrderAll(function(data){
            //console.log("查询到的订单"+JSON.stringify(data))
            initTable(data)
        });

    }
    function getOrderAll(callback){
        $.ajax({
            type: "get",
            url: "/order/getAllOrder",
            async: false,
            success: function (data) {
                //console.log(data)
                callback(data)
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
    function initTable(data) {
        table.render({
            elem: '#demo'
            , height: 500
            , width: 1000,
            //, url: '/order/getAllOrder' //数据接口
            data:data.data
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'bid', title: '订单ID', sort: true}
                , {field: 'username', title: '购买者',}
                , {field: 'goodName', title: '商品名', width: 120}
                , {field: 'money', title: '金额', width: 100}
                , {field: 'fmoney', title: '优惠后', width: 100}
                , {field: 'goodNess', title: '甜度', width: 100}
                , {field: 'cupType', title: '杯型', width: 100}
                , {field: 'order_status', title: '订单状态',}
                , {toolbar: '#barDemo', width: 150, event: "but"}
            ]], done: function (res, curr, count) {
                $("[data-field = 'good']").children().each(function () {
                    if ($(this).text() == '1') {
                        // $(this).text("插件方式");
                    } else if ($(this).text() == '0') {
                        // $(this).text("代码方式");
                    }
                })
            }, initSort: {
                type: 'desc',
                field: 'bid'
            }, parseData: function (res) { //res 即为原始返回的数据
                return {
                    // "code": res.status, //解析接口状态
                    // "msg": res.RSP_DESC, //解析提示文本
                    // "count": res.rsp.ATTACH.COUNT, //解析数据长度
                    "data": res //解析数据列表
                };
            }
        });
    }
</script>
<script src="/js/order.js"></script>
</html>